/* screen - info-lien-he */

.info-lien-he {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  width: 1440px;
}

.info-lien-he .flex-row {
  align-items: flex-end;
  display: flex;
  gap: 86px;
  margin-left: 48.0px;
  margin-top: 29px;
  min-width: 968px;
}

.info-lien-he .home-icon {
  cursor: pointer;
  display: flex;
  height: 64px;
  transition: all 0.2s ease;
  width: 64px;
}

.info-lien-he .home-icon:hover {
  transform: scale(1.1);
}

.info-lien-he .home-icon-1:hover {
  transform: scale(1.1);
}

.info-lien-he .button-tren-cung {
  align-items: flex-start;
  display: flex;
  gap: 92px;
  min-width: 818px;
}

.info-lien-he .button-chat-vi-ai:hover {
  transform: scale(1.1);
}

.info-lien-he .button-dat-lich:hover {
  transform: scale(1.1);
}

.info-lien-he .button-thong-tin:hover {
  transform: scale(1.1);
}

.info-lien-he .flex-row-1 {
  align-items: center;
  display: flex;
  gap: 73px;
  margin-left: 7.42px;
  margin-top: 41px;
  min-width: 1225px;
}

.info-lien-he .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin-bottom: 85.45px;
  min-height: 415px;
  width: 563px;
}

.info-lien-he .cskh {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: 253px;
  width: 563px;
}

.info-lien-he .titl-cskh {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 69px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 503px;
}

.info-lien-he .lin-h-chm-sc-khch-hng {
  color: var(--masala);
  font-family: var(--font-family-arima);
  font-size: var(--font-size-xl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -2.00px;
  margin-right: -2.00px;
  margin-top: -1.00px;
  position: relative;
  width: 487px;
}

.info-lien-he .content-cskh {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 181px;
  justify-content: center;
  margin-left: 7px;
  padding: 10px;
  position: relative;
  width: 556px;
}

.info-lien-he .s-in-thoi-09999 {
  color: var(--masala);
  font-family: var(--font-family-arima);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -7.50px;
  margin-right: -7.50px;
  position: relative;
  width: 551px;
}

.info-lien-he .overlap-group {
  height: 116px;
  margin-left: 10px;
  position: relative;
  width: 427px;
}

.info-lien-he .icon-discord {
  cursor: pointer;
  height: 50px;
  left: 318px;
  object-fit: cover;
  position: absolute;
  top: 66px;
  transition: all 0.2s ease;
  width: 44px;
}

.info-lien-he .icon-discord:hover {
  transform: scale(1.2);
}

.info-lien-he .icon-instagram {
  cursor: pointer;
  height: 50px;
  left: 232px;
  object-fit: cover;
  position: absolute;
  top: 66px;
  transition: all 0.2s ease;
  width: 44px;
}

.info-lien-he .icon-instagram:hover {
  transform: scale(1.2);
}

.info-lien-he .icon-twitter {
  cursor: pointer;
  height: 50px;
  left: 148px;
  object-fit: cover;
  position: absolute;
  top: 66px;
  transition: all 0.2s ease;
  width: 43px;
}

.info-lien-he .icon-twitter:hover {
  transform: scale(1.2);
}

.info-lien-he .icon-fb {
  cursor: pointer;
  height: 50px;
  left: 63px;
  object-fit: cover;
  position: absolute;
  top: 66px;
  transition: all 0.2s ease;
  width: 44px;
}

.info-lien-he .icon-fb:hover {
  transform: scale(1.2);
}

.info-lien-he .or {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
}

.info-lien-he .hoc-lin-lc-vi-chng-ti-qua {
  color: var(--masala);
  font-family: var(--font-family-arima);
  font-size: var(--font-size-xl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.info-lien-he .group-3 {
  display: flex;
  flex-direction: column;
  height: 590px;
  width: 589px;
}

.info-lien-he .title-gui-phan-hoi {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 72px;
  justify-content: center;
  margin-left: 212.4px;
  padding: 10px;
  position: relative;
  width: 252px;
}

.info-lien-he .gi-phn-hi {
  color: #8f2b4f;
  font-family: var(--font-family-arima);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -1.00px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  position: relative;
  width: 234px;
}

.info-lien-he .nhap-ten {
  margin-top: 42.1px;
}

.info-lien-he .x-ca-bn {
  background-color: transparent;
  border: 0;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -2.83px;
  margin-top: -4.83px;
  padding: 0;
  position: relative;
  width: 491px;
}

.info-lien-he .x-ca-bn::placeholder {
  color: #47474799;
}

.info-lien-he .nhap-email {
  margin-top: 33.6px;
}

.info-lien-he .nhap-phan-hoi {
  align-items: center;
  border: 1px solid;
  border-color: var(--nav-button);
  border-radius: 42px;
  display: flex;
  gap: 10px;
  height: 215.68px;
  justify-content: center;
  margin-top: 30.1px;
  padding: 10px;
  position: relative;
  width: 589.42px;
}

.info-lien-he .gi-phn-hi-ca-bn-y {
  background-color: transparent;
  border: 0;
  height: 183px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: relative;
  width: 529px;
}

.info-lien-he .gi-phn-hi-ca-bn-y::placeholder {
  color: #47474799;
}

.info-lien-he .gui-phan-hoi-button {
  align-items: flex-start;
  background-color: #ff9dcca1;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #ff83be;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 57.45px;
  margin-left: 231px;
  margin-top: 22.9px;
  overflow: hidden;
  padding: 15px 43px;
  position: relative;
  transition: all 0.2s ease;
  width: 135.94px;
}

.info-lien-he .gui-phan-hoi-button:hover {
  transform: scale(1.1);
}

.info-lien-he .gui {
  color: var(--white);
  font-family: var(--font-family-archivo);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -6.55px;
  margin-right: -1.06px;
  margin-top: -1.00px;
  position: relative;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
  width: fit-content;
}

.info-lien-he .thong-tin-cuoi-page {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 157px;
  margin-top: 20px;
  padding: 18px 50px;
  width: 1440px;
}

.info-lien-he .thng-tin-lin-h {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 21px;
  min-height: 33px;
}

.info-lien-he .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 63px;
  min-width: 1075px;
}

.info-lien-he .flex-col-1 {
  width: 55px;
}

.info-lien-he .cskh-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 29px;
}

.info-lien-he .email {
  letter-spacing: 0;
  line-height: normal;
  min-height: 29px;
}

.info-lien-he .flex-col-2 {
  margin-left: 6px;
  width: 165px;
}

.info-lien-he .lin-h-vi-chng-ti:hover {
  color: #ed75cf
}

.info-lien-he .nhng-cu-hi-thng-gp:hover {
  color: #ED75CF
}

.info-lien-he .flex-col-3 {
  margin-left: 84px;
  width: 189px;
}

.info-lien-he .v-website-ny:hover {
  color: #ED75CF
}

.info-lien-he .cc-c-s-y-t-hp-tc:hover {
  color: #ED75CF
}

.info-lien-he .icon-fb-1 {
  align-self: flex-end;
  cursor: pointer;
  height: 32px;
  margin-left: 65px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 32px;
}

.info-lien-he .icon-fb-1:hover {
  transform: scale(1.2);
}

.info-lien-he .icon:hover {
  transform: scale(1.2);
}

.info-lien-he .icon-discord-1 {
  align-self: flex-end;
  cursor: pointer;
  height: 32px;
  margin-left: 31px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 32px;
}

.info-lien-he .icon-discord-1:hover {
  transform: scale(1.2);
}

.info-lien-he .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 62px;
}

.info-lien-he .nhap {
  align-items: center;
  border: 1px solid;
  border-color: var(--nav-button);
  border-radius: 42px;
  display: flex;
  gap: 10px;
  height: 58.34px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 589.42px;
}
