/* screen - trang-chu */

.trang-chu {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2820px;
  overflow: hidden;
  width: 1440px;
}

.trang-chu .button-tren-cung {
  align-items: flex-start;
  display: flex;
  gap: 92px;
  margin-left: 22.0px;
  margin-top: 63px;
  min-width: 818px;
}

.trang-chu .button-chat-vi-ai:hover {
  transform: scale(1.1);
}

.trang-chu .button-dat-lich:hover {
  transform: scale(1.1);
}

.trang-chu .button-thong-tin:hover {
  transform: scale(1.1);
}

.trang-chu .overlap-group2 {
  height: 2374px;
  margin-right: 0.38px;
  margin-top: 30px;
  position: relative;
  width: 1464px;
}

.trang-chu .background-trang-chu {
  align-items: flex-start;
  display: flex;
  height: 2340px;
  justify-content: flex-end;
  left: 0;
  min-width: 1464px;
  padding: 0 11.6px;
  position: absolute;
  top: 34px;
}

.trang-chu .overlap-group {
  height: 2340px;
  position: relative;
  width: 1440px;
}

.trang-chu .background-trang-chu-1 {
  display: block;
  height: 2340px;
  left: 0;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate(-25px, 0);
  width: 1440px;
}

.trang-chu .background-trang-chu-1.animate-enter2 {
  animation: animate-enter2-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(-25px, 0);
}

@keyframes animate-enter2-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.trang-chu .logsign-up-button {
  align-items: center;
  background-color: var(--white);
  border-radius: 26px;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 70px;
  justify-content: center;
  left: 188px;
  padding: 10px;
  position: absolute;
  top: 519px;
  transition: all 0.2s ease;
  width: 230px;
}

.trang-chu .logsign-up-button:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.trang-chu .logsign-up-button-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 26px;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 70px;
  justify-content: center;
  left: 503px;
  padding: 10px;
  position: absolute;
  top: 519px;
  transition: all 0.2s ease;
  width: 230px;
}

.trang-chu .logsign-up-button-1:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.trang-chu .frame-bai-viet-2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: inset 0px 4px 4px #ff5fb666;
  display: flex;
  gap: 35px;
  height: 457px;
  left: 82px;
  overflow: hidden;
  padding: 48px 35px;
  position: absolute;
  top: 1694px;
  width: 604px;
}

.trang-chu .cropped_image-1-1 {
  height: 240px;
  margin-left: 5px;
  margin-top: 10px;
  object-fit: cover;
  width: 240px;
}

.trang-chu .e-bai-viet-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 11px;
  min-height: 354px;
  width: 254px;
}

.trang-chu .title-bai-viet-1 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
}

.trang-chu .bi-vit-mu-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.trang-chu .content-frame-bai-viet-1 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  gap: 10px;
  height: 264px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 244px;
}

.trang-chu .gii-thiu-ve-bai-vi {
  height: 257px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -5.50px;
  margin-top: -7.50px;
  position: relative;
  width: 224px;
}

.trang-chu .frame-bai-viet-2-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: inset 0px 4px 4px #ff5fb666;
  display: flex;
  gap: 35px;
  height: 457px;
  left: 785px;
  overflow: hidden;
  padding: 48px 35px;
  position: absolute;
  top: 1694px;
  width: 604px;
}

.trang-chu .anh-cua-frame-gioi-thieu {
  background-image: url(../img/anh-cua-frame-gioi-thieu.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 708px;
  left: 12px;
  position: absolute;
  top: 757px;
  width: 844px;
}

.trang-chu .frame-gioi-thieu {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 62px;
  height: 708px;
  left: 856px;
  padding: 42px 49px;
  position: absolute;
  top: 757px;
  width: 596px;
}

.trang-chu .frame-gioi-thieu-container {
  height: 415px;
  position: relative;
  width: 497px;
}

.trang-chu .title-frame-gioi-thieu {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 200px;
  justify-content: center;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 497px;
}

.trang-chu .y-l-ni-bn-ch {
  color: var(--black);
  font-family: var(--font-family-arima);
  font-size: var(--font-size-xxxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 447px;
}

.trang-chu .content-frame-gioi-thieu {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 227px;
  justify-content: center;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 188px;
  width: 497px;
}

.trang-chu .cung-cp-thng-tin-v {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.trang-chu .button-frame-gioi-thieu {
  align-items: center;
  align-self: center;
  background-color: var(--nav-button);
  border-radius: 23px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-left: 72.0px;
  padding: 10px;
  position: relative;
  width: 274px;
}

.trang-chu .tm-hiu-v-website {
  color: var(--white);
  font-family: var(--font-family-alegreya);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.trang-chu .title-gioi-thieu-muc-bai-viet {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 107px;
  justify-content: center;
  left: 101px;
  padding: 10px;
  position: absolute;
  top: 1609px;
  width: 479px;
}

.trang-chu .cc-bi-vit-mi-nht {
  color: #4a6249;
  font-family: var(--font-family-arima);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.trang-chu .canh-ten-website {
  background-image: url(../img/canh-ten-website.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 543px;
  left: 887px;
  position: absolute;
  top: 0;
  width: 544px;
}

.trang-chu .ten-website {
  align-items: center;
  box-shadow: -14px 10px 5px #c0cbc366;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 170px;
  padding: 10px;
  position: absolute;
  top: 44px;
}

.trang-chu .tri-tim-bnh-yn {
  color: var(--website-title);
  font-family: var(--font-family-pacifico);
  font-size: 128px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-shadow: 0px 4px 4px #c0cbc380;
  width: fit-content;
}

.trang-chu .thong-tin-cuoi-page {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 180px;
  margin-top: 29px;
  padding: 39px 50px;
  width: 1440px;
}

.trang-chu .thng-tin-lin-h {
  letter-spacing: 0;
  line-height: normal;
  min-height: 33px;
}

.trang-chu .flex-row {
  height: 63px;
  min-width: 1075px;
}

.trang-chu .flex-col {
  flex-direction: column;
  gap: 4px;
  min-height: 62px;
  width: 55px;
}

.trang-chu .cskh {
  letter-spacing: 0;
  line-height: normal;
  min-height: 29px;
}

.trang-chu .email {
  letter-spacing: 0;
  line-height: normal;
  min-height: 29px;
}

.trang-chu .flex-col-1 {
  margin-left: 6px;
  width: 165px;
}

.trang-chu .lin-h-vi-chng-ti:hover {
  color: #ed75cf
}

.trang-chu .nhng-cu-hi-thng-gp:hover {
  color: #ED75CF
}

.trang-chu .flex-col-2 {
  margin-left: 84px;
  width: 189px;
}

.trang-chu .v-website-ny:hover {
  color: #ED75CF
}

.trang-chu .cc-c-s-y-t-hp-tc:hover {
  color: #ED75CF
}

.trang-chu .icon-fb {
  align-self: flex-end;
  cursor: pointer;
  height: 32px;
  margin-left: 65px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 32px;
}

.trang-chu .icon-fb:hover {
  transform: scale(1.2);
}

.trang-chu .icon:hover {
  transform: scale(1.2);
}

.trang-chu .icon-discord {
  align-self: flex-end;
  cursor: pointer;
  height: 32px;
  margin-left: 31px;
  object-fit: cover;
  transition: all 0.2s ease;
  width: 32px;
}

.trang-chu .icon-discord:hover {
  transform: scale(1.2);
}

.trang-chu .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 62px;
}

.trang-chu .ng {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}
